body{
    background-color: aliceblue;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
}